@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Saira Condensed', sans-serif;
  background-image: linear-gradient(130deg, #032f49 0%, #0a6157 100%);
}

nav, footer {
  background-color: #0005;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 90%;
  max-width: 400px;
  height: 100px;
  background-color: #0009;
}

#hora {
  font-size: 4rem;
  font-weight: bold;
}

#amPm, #seg {
  font-size: 2rem;
  margin: 0;
  line-height: 1.7rem;
}